.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
assets/images/portfolio/._p5.jpg
assets/images/about/._welcome-banner.jpg
assets/images/portfolio/._p1.jpg
assets/images/portfolio/._p2.jpg
assets/images/portfolio/._p3.jpg
assets/images/portfolio/._p4.jpg
._index.html
